In [ ]:
import pandas as pd

pasthires = pd.read_csv("PastHires.csv")
# print(pasthires)
# show first 5 rows
# print(pasthires.head())
# showlast 5 rows
# print(pasthires.tail())
# Show columns
# print(pasthires.columns)
# show number of rows and colums (ex : shape)
print(pasthires.shape)

(13, 7)

In [ ]:
import numpy as np
import pandas as pd 
import os


# series
data  = pd.Series([1,23,3,12,3,4], index = ["a","b","c","d","e","f"])

print(data[1])

print(np.mean(data))

print(data.mean())

print(data  > 12)

print(data[data > 4])



#

b    23
d    12
dtype: int64

Data  Frame

In [ ]:
import pandas as pd


data  = {
    "Name": ["Sedhu","Kesav","Kavi","Mathi","Raja"],
    "age" : [22,21,24,25,26],
    "City":["Namakkal","Ramanathapuram","Thanjavur","Patukotai","Erode"],
    "Salaray": [23000,20000,18000,35000,15000]
}


df = pd.DataFrame(data)

# print(df)

# Basic Operations

# print(df["Name"][2])

# print(df[["Name","City"]].loc[2])

# print(df.loc[2,["Name","City"]])

# print(df.loc[2,"City"])

# print(df[df["Name"],["age" > 23]]])

# print(df[df["age"]> 23][["Name","age"]])


# df["Bonus"]  = round(df["Salaray"]*0.2)

df["Bonus"] = df["Salaray"] // 5

# df["Bonus"] = (df["Salaray"] * 2).round().astype(int)

print(df)

updated_df = df.drop("Bonus", axis = 1)

# print(df.drop("Bonus", axis=1))

print(updated_df)


# For DROP  Column giving  the  NAME  of the Selected Column is the right approach  
# For DROP  ROW  give  POSITION  in  int

row_df = df.drop([2,3], axis= 0)

print(row_df)

    Name  age            City  Salaray  Bonus
0  Sedhu   22        Namakkal    23000   4600
1  Kesav   21  Ramanathapuram    20000   4000
2   Kavi   24       Thanjavur    18000   3600
3  Mathi   25       Patukotai    35000   7000
4   Raja   26           Erode    15000   3000
    Name  age            City  Salaray
0  Sedhu   22        Namakkal    23000
1  Kesav   21  Ramanathapuram    20000
2   Kavi   24       Thanjavur    18000
3  Mathi   25       Patukotai    35000
4   Raja   26           Erode    15000
    Name  age            City  Salaray  Bonus
0  Sedhu   22        Namakkal    23000   4600
1  Kesav   21  Ramanathapuram    20000   4000
4   Raja   26           Erode    15000   3000

Data Clean 
Missing Values

1) Work With Data Frame    
2)

In [30]:
import pandas as pd
import numpy as np

data =  {
    "Name": ["Sedhu", "Kavi", np.nan,"Kavi", "Kesav", "Raja"],
    "Age" : [26,23,np.nan,23,24,np.nan],
    # "Age":[23,23,22,25,22],
    "Salary" : [23000,30000,np.nan,30000,50000,np.nan],
    # "Position" :[np.nan,np.nan,np.nan,np.nan,np.nan]
}

df = pd.DataFrame(data)

# df.isnull 

# print(df.isnull)

print(df)

# df.isnull().sum()

# df["Age" ] = df["Age"].fillna(25)

# print(f"\n {df}")

# Replace using Mean Median Mode 

# df["Age"].fillna(df["Age"].mean(),inplace = True) 

# print(f"\n  Mean : \n {df}")


# df["Name"].fillna("Unknown",inplace = True)

# print(f"\n  Replace Text : \n {df}")


# Drop Missing Value 

# droped_data =  df.dropna(how="all")


# print(f"\n  Drop Value : \n {droped_data}")


# Smart Filling 

df["Age"]  = df["Age"].interpolate()

print(f"\n Smart Filling \n {df}")


print(f"\nDuplicate Values  : \n {df.duplicated()}")

duplicate_removed_df = df.drop_duplicates()

print(f"\nDuplicate Values  Droped : \n {duplicate_removed_df}")


# change data type 

duplicate_removed_df["Age"] = duplicate_removed_df["Age"].astype(int)

df =duplicate_removed_df

print(f"\n Type Changed : \n {df}")

    Name   Age   Salary
0  Sedhu  26.0  23000.0
1   Kavi  23.0  30000.0
2    NaN   NaN      NaN
3   Kavi  23.0  30000.0
4  Kesav  24.0  50000.0
5   Raja   NaN      NaN

 Smart Filling
     Name   Age   Salary
0  Sedhu  26.0  23000.0
1   Kavi  23.0  30000.0
2    NaN  23.0      NaN
3   Kavi  23.0  30000.0
4  Kesav  24.0  50000.0
5   Raja  24.0      NaN

Duplicate Values  :
 0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

Duplicate Values  Droped :
     Name   Age   Salary
0  Sedhu  26.0  23000.0
1   Kavi  23.0  30000.0
2    NaN  23.0      NaN
4  Kesav  24.0  50000.0
5   Raja  24.0      NaN

 Type Changed :
     Name  Age   Salary
0  Sedhu   26  23000.0
1   Kavi   23  30000.0
2    NaN   23      NaN
4  Kesav   24  50000.0
5   Raja   24      NaN

C:\Users\sedhu\AppData\Local\Temp\ipykernel_45516\3160160158.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicate_removed_df["Age"] = duplicate_removed_df["Age"].astype(int)

Task :

Median 
apply Meadian to Sallary 
Mode

work 2 times