In [ ]:
import pandas as pd

pasthires = pd.read_csv("PastHires.csv")
# print(pasthires)
# show first 5 rows
# print(pasthires.head())
# showlast 5 rows
# print(pasthires.tail())
# Show columns
# print(pasthires.columns)
# show number of rows and colums (ex : shape)
print(pasthires.shape)

(13, 7)

In [ ]:
import numpy as np
import pandas as pd 
import os


# series
data  = pd.Series([1,23,3,12,3,4], index = ["a","b","c","d","e","f"])

print(data[1])

print(np.mean(data))

print(data.mean())

print(data  > 12)

print(data[data > 4])



#

b    23
d    12
dtype: int64

Data  Frame

In [78]:
import pandas as pd


data  = {
    "Name": ["Sedhu","Kesav","Kavi","Mathi","Raja"],
    "age" : [22,21,24,25,26],
    "City":["Namakkal","Ramanathapuram","Thanjavur","Patukotai","Erode"],
    "Salaray": [23000,20000,18000,35000,15000]
}


df = pd.DataFrame(data)

# print(df)

# Basic Operations

# print(df["Name"][2])

# print(df[["Name","City"]].loc[2])

# print(df.loc[2,["Name","City"]])

# print(df.loc[2,"City"])

# print(df[df["Name"],["age" > 23]]])

# print(df[df["age"]> 23][["Name","age"]])


# df["Bonus"]  = round(df["Salaray"]*0.2)

df["Bonus"] = df["Salaray"] // 5

# df["Bonus"] = (df["Salaray"] * 2).round().astype(int)

print(df)

updated_df = df.drop("Bonus", axis = 1)

# print(df.drop("Bonus", axis=1))

print(updated_df)


# For DROP  Column giving  the  NAME  of the Selected Column is the right approach  
# For DROP  ROW  give  POSITION  in  int

row_df = df.drop([2,3], axis= 0)

print(row_df)

    Name  age            City  Salaray  Bonus
0  Sedhu   22        Namakkal    23000   4600
1  Kesav   21  Ramanathapuram    20000   4000
2   Kavi   24       Thanjavur    18000   3600
3  Mathi   25       Patukotai    35000   7000
4   Raja   26           Erode    15000   3000
    Name  age            City  Salaray
0  Sedhu   22        Namakkal    23000
1  Kesav   21  Ramanathapuram    20000
2   Kavi   24       Thanjavur    18000
3  Mathi   25       Patukotai    35000
4   Raja   26           Erode    15000
    Name  age            City  Salaray  Bonus
0  Sedhu   22        Namakkal    23000   4600
1  Kesav   21  Ramanathapuram    20000   4000
4   Raja   26           Erode    15000   3000